#how-it-works {
  background-image: url('https://cryptogoal.io/img/pattern1.jpg');
  // background-color: #fed360;
  background-size: 35%;
  background-position: -40px -20px;
  height: 70vh;
  text-align: center;
}
#why-compare > .col-lg-9 > .card{
  margin: 100px 20px;
}
