#home-banner {
  background: linear-gradient(0deg,#0c172d 0,#157af9 100%);
  background-color: #fed360;
  height: 70vh;
  display: flex;
  // align-items: center;
  // justify-content:center;
}
.banner-content{
  margin-top: 160px;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  color: white;
  line-height: 70px;
  margin-bottom: 50px;
}
.banner p {
  color: white;
  font-size: 25px;
  margin-bottom: 30px;
}
