      <div class="learn-buttons">
        <div class="col-lg-12">
          <%= link_to "Next: Introduction to cryptocurrency", learn_intro_path, class: "btn btn-link" %>
        </div>
      </div>
      <div class="row learn-buttons">
        <div class="col-lg-12">
          <%= link_to "Learning portal home", learn_bitcoin_path, class: "btn btn-sm btn-rounded btn-outline-primary mt-2" %>
        </div>
      </div><!-- /buttons -->
    </div><!-- /crypto-learn-wrapper -->
  </div><!-- /row-learning -->
</div><!-- -container  -->
