<h1>learning portal</h1>

<ul>
  <li><%= link_to 'learn about bitcoin', learn_bitcoin_path  %></li>
  <li><%= link_to 'buy bitcoin', buy_bitcoin_path  %></li>
<li><%= link_to 'sell bitcoin', sell_bitcoin_path  %></li>
<li><%= link_to 'home', home_path  %></li>
</ul>
