<%= render 'sidebar' %>
      <h1>Introduction to cryptocurrency</h1>

          <%= image_tag("what-is-crypto.png") %>
          <br>
          <br>
        <iframe width="700" height="400" src="https://www.youtube.com/embed/pwaZYFPLAdI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen"></iframe>
        <br>
        <br>
        <p style="font-size: 55px line-height: px">
          Cryptocurrencies, like Bitcoin, aren't actual physical coins, but they've become a financial phenomenon in their own right. Here is your comprehensive guide for understanding cryptocurrency.
        </p>
        <br>
        <p>
          Wondering if it's the right time to break into the cryptocurrency market? That makes sense, especially since there never seems to be a clearly perfect moment.

          The journey cryptocurrency owners, especially ones who have been there since the beginning, have been incredibly rocky. Look at Bitcoin. It stagnated as an almost worthless investment before skyrocketing to a price of $20,000 in December of 2017. It has fallen off significantly since, but a statement was made. Cryptocurrencies were a joke just a few years ago; now, former President Bill Clinton is set to be keynote speaker at the Swell conference created by Ripple.
        </p>
        <br>
        <p>
          Cryptocurrencies, or virtual currencies, are digital means of exchange created and used by private individuals or groups. Because most cryptocurrencies aren’t regulated by national governments, they’re considered alternative currencies – mediums of financial exchange that exist outside the bounds of state monetary policy.
        </p>
        <br>
        <p>
          Cryptocurrencies use cryptographic protocols, or extremely complex code systems that encrypt sensitive data transfers, to secure their units of exchange. Cryptocurrency developers build these protocols on advanced mathematics and computer engineering principles that render them virtually impossible to break, and thus to duplicate or counterfeit the protected currencies. These protocols also mask the identities of cryptocurrency users, making transactions and fund flows difficult to attribute to specific individuals or groups.
        </p>
        <br>
        <br>
        <br>
 <%= render 'content_footer' %>
