<%= render "sidebar" %>

      <h1>Cryptocurrency tips & tricks</h1>

      <%= image_tag("crypto-tips-big.png") %>
      <br>
      <br>
      <br>

      <p style="font-size: 25px line-height: px">
        A common beginners’ mistake is to look at the coin’s price rather than the market cap. Just as you asses a company by its market cap performance, which is calculated by multiplying the number of shares times a single share’s price, the same is done for Altcoins. The number of existing coins in circulation times the coin’s price. For a low price coin, such as Ripple, there is solely a psychological influence on the buyers. There is no difference whether one Ripple equals one dollar, and there are a billion Ripples out, or if one Ripple equals a thousand dollars and there are million units of Ripple.
      </p>


      <p>
        Crypto is really unpredictable. While reaping profits of hundreds of percent, the section withstands now and will continue getting dozens of billions of dollars erased flat out in the future. When Bitcoin loses its value against the US dollar Altcoins usually go through the same process. Simple math shows that even holding a part of the portfolio in Altcoins, such as Ethereum and Litecoin, is usually not enough to avoid getting a big chunk of the portfolio’s USD worth wiped out following a Bitcoin dump.
      </p>


      <p>
        Good traders acknowledge their mistakes, and more importantly – analyze and learn from them, thus improving their skills for understanding the market. So which kind of trader are you? Did you find yourself somewhere in the article? We would love to hear on the comments section below, and you are welcome to share this article with whoever you see as relevant.
      </p>
<%= render 'content_footer' %>

