<%= render 'sidebar' %>

      <h1>Wallets of cryptocurrency</h1>

      <%= image_tag("walletbig.png") %>
      <br>
      <br>
      <br>

      <p style="font-size: 25px line-height: px">
        A cryptocurrency wallet stores the public and private keys which can be used to receive or spend the cryptocurrency. A wallet can contain multiple public and private key pairs. As of January 2018, there are over thirteen hundred cryptocurrencies; the first and best known is bitcoin. The cryptocurrency itself is not in the wallet. In case of bitcoin and cryptocurrencies derived from it, the cryptocurrency is decentrally stored and maintained in a publicly available ledger. Every piece of cryptocurrency has a private key. With the private key, it is possible to write in the public ledger, effectively spending the associated cryptocurrency.
      </p>

      <br>
      <iframe width="700" height="400" src="https://www.youtube.com/embed/NI0OsEL92_0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen"></iframe>
      <br>
      <br>
      <h5>Wallet characteristics</h5>
      <ul>
        <li>Multicurrency</li>
        <li>Software wallet</li>
        <li>Hardware wallet</li>
        <li>Watch-only wallet</li>
        <li>Multisignature wallet</li>
      </ul>
      <br>
      <br>
      <p>
        When choosing a wallet, the owner must keep in mind who is supposed to have access to (a copy of) the private keys and thus potentially has access to the cryptocurrency. Just like with a bank, the user needs to trust the provider to keep the cryptocurrency safe. Trust was misplaced in the case of the Mt. Gox exchange, which 'lost' most of their clients' bitcoins. Downloading a cryptocurrency wallet from a wallet provider to a computer or phone does not automatically mean that the owner is the only one who has a copy of the private keys. For example with Coinbase, it is possible to install a wallet on a phone and to also have access to the same wallet through their website. A wallet can also have known or unknown vulnerabilities. For receiving cryptocurrency, access to the receiving wallet is not needed. The sending party only needs to know the destination address. Anyone can send cryptocurrency to an address. Only the one who has the private key of the corresponding address can use it.
      </p>
<%= render 'content_footer' %>

