<div class="box">
  <div class="container">
    <div class="row"></div>
      <h3 class="text-center" id="footer-text">A game changer in the cryptocurrency industry</h3>
      <h3 class="text-center">Learn, educate and compare cryptocurrency prices</h3>
    </div>
  </div>
</div>
