<h4>Show me the bitcoin buy price for</h4>
<form class="form-inline" action="/buy/bitcoin">
  <div class="form-group">
    <div class="form-group">
      <!-- <label for="amt">smth here</label> -->
      <input type="text" class="form-control" id="amt" placeholder="enter amount in USD" name="amt">
    </div>
  </div>

  <button type="submit" class="btn btn-default">Submit</button>
</form>
