<div id="searchbar">
  <%= form_tag buy_bitcoin_path, method: :get do %>
  <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "USD"%>
    <button type="submit" class="btn btn-default btn-search--submit">
      <i class="fas fa-search"></i>
      Compare
    </button>
  <% end %>
</div>
