<section id="home-banner">
  <div class="col-md-5 col-md-offset-1 banner">
    <h1>The easiest way to get into cryptocurrency</h1>
  </div>
  <div class="col-md-6 col-md-offset-2">
    <h3>some image here</h3>
</section>

<section id="how-it-works">

    <div class="col-lg-8 col-md-offset-2 search-card">
      <%= render 'shared/searchbar' %>
    </div>



    <div class="col-lg-4">lala</div>
    <div class="col-lg-4">wawa</div>
    <div class="col-lg-4">sasa</div>

</section>

