<section id="home-banner">
  <div class="col-md-5 banner">
    <h1>The easiest way to get into Bitcoin and Ethereum</h1>
    <p>something about it</p>
  </div>
  <div class="col-md-6">
    <%= "Lorem ipsum dolor sit amet, consectetur adipisicing elit " * 20 %>
  </div>
</section>

<section id="how-it-works">
    <div class="col-lg-8 search-card">
      <%= render 'shared/searchbar' %>
    </div>
  <!-- </div> -->
</section>
