<section id="home-banner">
  <div class="banner">
    <h1>Search and compare bitcoin prices</h1>
  </div>
</section>

<section id="how-it-works">

  <div class="col-lg-8 col-md-offset-2 search-card">
    <%= render 'shared/searchbar' %>
  </div>

  <div class="col-lg-12">
    <h2>Find the lowest entry prices on exchanges </h2>
  </div>
</section>


